body {
  color: black;
}

.flex-container {
    display: flex
}

#map {
  height: 100%;
}

.mapControlUI {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  margin: 10px;
  text-align: center;
}

.mapControlText {
  color: rgb(25,25,25);
  font-family: Roboto,Arial,sans-serif;
  font-size: 16px;
  line-height: 38px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Makes the map fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.topnav .search-container {
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0px rgb(0 0 0 / 2%);
  display: flex;
  margin: 0 10px 0 10px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 12px;
  border: none;
}

.topnav .search-container button {
  color: grey;
  flex-grow: 0;
  padding: 6px 10px;
  margin-top: 8px;
  font-size: 12px;
  border: none;
}

button {
  border: none;
  padding: 6px 10px;
  margin-top: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: darkgrey;
  color: white;
}

#close-directions {
  visibility: hidden;
}

#location-info {
  padding: 10px;
  visibility: hidden;
}

#location-search-bar {
  flex-grow: 1;
}

#origin-search-bar {
  flex-grow: 1;
}

#origin-search-bar {
  flex-grow: 1;
}

.feature-button {
  flex: 1;
  margin: 10px 5px 0 5px;
}

#toggle-sidebar {
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  margin: 0;
  padding: 5px 0 5px 0;
  position: fixed;
  top: 5px;
  left: 300px;
  transition-duration: 0s;
  z-index: 1;
}

#sidebar {
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
}

.userInput {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

.main {
  margin-left: 300px; /* Same as the width of the sidebar */
  font-size: 12px; 
  padding: 0px 10px;
}