body {
  color: black;
}

#map {
  height: 100%;
}

.mapControlUI {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  cursor: pointer;
  margin: 10px;
  text-align: center;
}

.mapControlText {
  color: rgb(25,25,25);
  font-family: Roboto,Arial,sans-serif;
  font-size: 16px;
  line-height: 38px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Makes the map fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.topnav .search-container {
  float: left;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 12px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  background: rgb(211, 206, 209);
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: rgb(202, 24, 24);
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 6px 10px;
  margin-top: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#directions{
  background-color: rgb(211, 206, 209); 
  margin-top: 8px;
  color: black; 
}

#directions:hover {
  background-color: rgb(38, 137, 219);
  color: white;
}

#close-directions {
  visibility: hidden;
}

#location-info {
  color: grey;
  visibility: hidden;
}

#toggle-sidebar {
  position: fixed;
  top: 5px;
  left: 300px;
}

#sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  margin-left: 300px; /* Same as the width of the sidebar */
  font-size: 12px; 
  padding: 0px 10px;
}

div.switch_div {
  margin: 20px 20px 0 0;
  position: absolute;
  top: 30px;
  right: 0px;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}